<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<%= render partial: 'attendances/attendances', locals: { attendances: @attendances, last_attendance: @last_attendance } %>

<p><%= link_to 'Report', report_attendances_path %></p>
